In [2]:
!python -m pip install --upgrade pip
!pip install vk_api

Collecting pip
  Using cached https://files.pythonhosted.org/packages/c2/d7/90f34cb0d83a6c5631cf71dfe64cc1054598c843a92b400e55675cc2ac37/pip-18.1-py2.py3-none-any.whl
Installing collected packages: pip
  Found existing installation: pip 10.0.1
    Uninstalling pip-10.0.1:

distributed 1.21.8 requires msgpack, which is not installed.
Could not install packages due to an EnvironmentError: [WinError 5] Отказано в доступе: 'c:\\programdata\\anaconda3\\lib\\site-packages\\pip\\_internal\\basecommand.py'
Consider using the `--user` option or check the permissions.

You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: vk_api in c:\programdata\anaconda3\lib\site-packages (11.2.1)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from vk_api) (1.11.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from vk_api) (2.18.4)
Requirement already satisfied: enum34 in c:\programdata\anaconda3\lib\site-packages (from vk_api) (1.1.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->vk_api) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->vk_api) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->vk_api) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->vk_api) (2018.4.16)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [ ]:
kek

In [1]:
kek

NameError: name 'kek' is not defined

In [2]:
import vk_api
import datetime
%matplotlib inline

In [3]:
access_token = 'ae8862c330e23a109f2df248db2a19dc6ef847b83ce344dab5b5e4ba0ef5cf11323c670de458ca85b3352'
access_token_crisis = '1bbdf00de58e195316a09a93d1b14b77929a05749f5f434086626c595b830ebce5740a5b953f2759414ac'
user_id = 'crisis_hookah'
app_id = '6602645'
user_id_crisis = 56473552

In [4]:
vk_session = vk_api.VkApi(app_id = app_id, token = access_token_crisis, api_version=5.80)
vk = vk_session.get_api()
vk_session1 = vk_api.VkApi(app_id = app_id, token = access_token, api_version=5.80)
vk1 = vk_session1.get_api()

In [5]:
my_friends = []
count = vk.groups.getMembers(group_id = user_id_crisis, offset=1000)['count']
for i in range(count//1000+1):
    my_friends = my_friends + vk.groups.getMembers(group_id = user_id_crisis, offset=i*1000)['users']
print("в группе ", count, 'пользователей')

в группе  2215 пользователей

In [6]:
my_friends_birthdays = []
for user in my_friends:
    my_friends_birthdays = my_friends_birthdays + vk.users.get(user_id = user, fields='bdate')

In [7]:
import pandas as pd
crisis_users = pd.DataFrame(my_friends_birthdays)

In [8]:
crisis_users['Day'], crisis_users['Month'], crisis_users['Year'] = crisis_users['bdate'].str.split('.').str

In [9]:
crisis_users.loc[(crisis_users['Day'].isin(['15','32']))&(crisis_users['Month'] == '12')]

      bdate deactivated first_name         id last_name Day Month Year
336   15.12         NaN  Stanislav    4437723     Fokin  15    12  NaN
385   15.12         NaN      Исаак    5524882   Бадалов  15    12  NaN
635   15.12         NaN  Александр   12296106   Пузаков  15    12  NaN
802   15.12         NaN       Dron   19216769     Biruk  15    12  NaN
1571  15.12         NaN      Нелли  138393410   Адамова  15    12  NaN